<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<style>
body {
  background-image: url("{% static 'images/appointment.jpg' %}");
  background-repeat: no-repeat;
   background-size:cover
}
</style>


</head>
<body>
<center>
<form action="" method="POST">
    {% csrf_token %}
<table>
    {{form}}


</table>
      <button type="submit" class="btn btn-primary">Login</button>
</form>
    </center>

</body>
</html>