
{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block content %}
{{ip}}{{time}}
<form action="{% url 'book' %}" method="post" novalidate>
    {% csrf_token %}
    <div class="container">
    <div class="row">
        <div class=" col-md-6 mb-0">
            {{ form.first_name|as_crispy_field }}
        </div>
        <div class=" col-md-6 mb-0">
            {{ form.last_name|as_crispy_field }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-0">
            {{ form.location|as_crispy_field }}
        </div>
        <div class="col-md-4 mb-0">
            {{ form.gender|as_crispy_field }}
        </div>
        <div class="col-md-2 mb-0">
            {{ form.email|as_crispy_field }}

        </div>
    </div>
    {{ form.mobile|as_crispy_field }}
        {{form.Appointment_date|as_crispy_field}}
    <br>


<!--<button type="submit" class="btn btn-primary"></button>-->
          <input type="submit" value="BOOK APPOINTMENT" class="btn btn-primary">


</div>
 </form>
{% endblock %}


